:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen {
  margin-top: 50px;
  height: 20px;
  background-color: aliceblue;
  width: 750px;
  text-align: center;
  color: black;
  line-height: 20px;
  border-radius: 2px;
}

.audience {
  margin-top: 100px;
  width: 700px;
  height: 450px;
}
.row {
  display: flex;
  justify-content: center;
}
.row-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 3px 5px;
  font-weight: bold;
}

mat-card {
  margin: 20px;
  color: black;
  width: 600px;
  height: 80px;
}

mat-card-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
mat-form-field {
  width: 250px;
  height: 60px;
  background-color: white;
}
mat-select {
  height: 60px;
}
mat-icon {
  cursor: pointer;
}
.submitFormBtn {
  width: 250px;
  height: 50px;
  font-size: 16px;
  transition: all 0.3s;
}
.submitFormBtn:hover {
  font-weight: bold;
  transition: all 0.3s;
}
