<ng-container *ngIf="data$ | async as data">
  <h1>
    {{ data.state?.movie?.title }}, {{ data.state?.day }} godz.
    {{ data.state?.time }}
  </h1>
  <div class="screen"><p>EKRAN</p></div>
  <div class="audience">
    <div *ngFor="let row of rows; let index = index">
      <div class="row">
        <div class="row-title">{{ alphabet[index] }}</div>
        <app-seat
          *ngFor="let column of columns"
          [isSold]="isSeatSold(row, column)"
          (seatClick)="onSeatClick(row, column)"
          [row]="row"
          [column]="column"
        >
        </app-seat>
      </div>
    </div>
  </div>
  <ng-container *ngIf="reservation$ | async as reservations">
    <div class="order-result">
      <form>
        <mat-card *ngFor="let reservation of reservations">
          <mat-card-content>
            <p>Rząd: {{ reservation.row }} Miejsce: {{ reservation.column }}</p>
            <mat-form-field appearance="fill">
              <mat-label>Bilet</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let ticket of ticketDetails$ | async"
                  [value]="ticket"
                >
                  {{ ticket.type }} - {{ ticket.price }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon fontIcon="delete"></mat-icon>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
    <button
      class="submitFormBtn"
      mat-raised-button
      (click)="navigateToOrderForm()"
    >
      Przejdź do zamówienia
    </button>
  </ng-container>
</ng-container>
